body{
  background-color: #e0f07a;
  height:100%;
  width:100%;
  background-image:url("http://4.bp.blogspot.com/-PkiOMS44Ulw/Tku8a9jfpwI/AAAAAAAAXZQ/qEMcczezQR8/s1600/voodoo-doll-doughnut.jpg");
  background-size:50%;
  font-family: Arial;
}

#pageContainer{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  text-alight:center;
}

h1{
  text-align: center;
  text-decoration: underline;
  color:blue;
}

table{
  font-size: 12px;
  background-color: white;
  float:left;
  margin:20px;
  border:1px solid black;
}

table td{
  border:1px solid black;
}

table th{
  font-size: 14px;
  background-color: blue;
  color:white;
  text-align: center;
}

#storeInfo {
  font-family: Verdana;
}

.locationReport th{
    font-size:12px;
    background-color: orange;
  }
}

img{
  display: inline-block;
  float:right;
}

a{
  color:green;
  text-decoration: none;
}

.locationReport{
  display:none;
  float:left;
}